.main {
  background: #C0C5CF;
  padding: 0px;
  .bee-page-layout {

      // Header
      .header {
          line-height: 48px;
          background: #EBECF0;
      }

      // searchArea
      .search-area {
          line-height: 40px;
          background: #F7F9FB;
      }

      //table展示区域
      .table-container {
          min-height: 600px;
          padding-top: 10px;
          background: #fff;
      }

      // 主内容区
      .content {

      }

      //左侧展示区域
      .left-content {
          min-height: 540px;

      }

      //右侧展示区域
      .right-content {

      }
  }

  .u-menu-item-selected{
    color: #004898 !important;
    background-color:#cbe6ff !important;
  }

  .u-menu-vertical .u-menu-item:after, .u-menu-vertical-left .u-menu-item:after, .u-menu-vertical-right .u-menu-item:after, .u-menu-inline .u-menu-item:after {
        border-right: 3px solid #2c62b2 !important;
  }
  
}
