.main {
    background: #C0C5CF;
    padding: 3px;
    .bee-page-layout {
        // searchArea
        .search-area {
            text-align: center;
            line-height: 40px;
            background: #F7F9FB;
        }

        //table展示区域
        .table-container {
            min-height: 500px;
            padding-top: 10px;
            background: #fff;
        }

        // 主内容区
        .content {}

        //左侧展示区域
        .left-content {
            min-height: 800;
            padding-top: 3px;
            background: #F7F9FB;
        }

        //右侧展示区域
        .right-content {
            padding-top: 3px;
            background: #F7F9FB;
        }
    }
}

.header-container{
    .u-container{
      width: auto;
    }
  }


  .query-form {

    &.u-panel {
      margin-bottom: 0
    }
    
    :global {
      .u-input-group.simple .u-form-control {
        padding-right: 40px;
      }
    }
    label {
      width: 110px;
      text-align: right;
    }
  }
  