.form-view{
    table
    {
        width:100%;
        border-collapse:collapse !important;
        border-spacing:0px !important;
    }
  table, td, th
    {
        border:1px solid lightgray;
    }
}

.btn-link {
    color:#004898 ;
    cursor: pointer;
}

/*尿检grid*/
.block-view {
    width:95px;
    height:95px;
    margin: 5px;
    border:1px solid lightgray;
}

/**编辑popForm**/
.edit_form_pop{
    .u-form-item{
        .u-form-control, .u-select{
            min-width: 300px;
        }
        
    }
    .other-container{
        position: relative;
        display: inline-block;
        max-width: 300px;
    }
}