.form-view{
    table
    {
        width:100%;
        border-collapse:collapse !important;
        border-spacing:0px !important;
    }
  table, td, th
    {
        border:1px solid lightgray;
    }
}

